body {
    background-color: white;
    font-family: Arial;
    margin: 0 0 0 0;
    min-height: 100vh;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
} 

.navbar {
  overflow: hidden;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  top: 0;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: #555;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar .brand {
    font-size: 18px;
    color: black;
    font-weight: bold;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #555;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #f5f5f5;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: #555;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #404040;
  color: white;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.values-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding-left: 12em;
    padding-right: 12em;
}

.card {
    padding: 30px;
    color: white;
    display: flex;
    flex-direction: column;
}

.card-header {
    text-align: center;
    font-weight: bold;
}

.card-body {
  font-weight: normal;
  text-align: center;
}

.card img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.contact {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 40%;
}

.form-control.success input {
    border-color: #09c372;
}

.form-control.error input {
    border-color: #ff3860;
}

.form-control .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}

h2 {
    text-align: center;
}

label {
  display: block;
}

.input {
  display: block;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #555;
  width: 100%;
  outline: none;
  box-sizing: border-box;
}

.input:focus {
  border: 1px solid #5696C2;
}

.border-danger {
  border: 1px solid red;
}

button[type=submit] {
  padding: 10px;
  color: white;
  font-size: 16px;
  background-color: #5696C2;
  border: 1px solid blue;
  display: block;
  width: 100%;
}

footer {
  position: relative;
  width: 100%;
  margin-top: 50px;
  padding: 1em 0;
  background-color: #404040;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
}

footer .social {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  flex-direction: row;
  justify-content: center;
}

.carousel {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
}

.carousel-text {
  position: absolute;
  top: 70%;
  left: 20%;
  color: white;
  font-weight: bold;
  font-size: 32px;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 14px;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carousel-item img {
    display: block;
    height: auto;
    max-width: 100%;
}

.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #428bca;
}

#title {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}